html
{
	background: url("website-backgrounds.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	align-self: center;
	align-content: center;
	align-items: center;
}
body
{
	font-size: 150%;
	font-weight: bolder;
}
.x
{
	display: table;
	position:relative;
 	top:20px;
  	height:700px;
  	width:800px;
  	margin-left:auto;
  	margin-right:auto; 
  	background: transparent;
}
h2,p
{
	text-align: center;
	color: rgb(10, 15, 173,0.7);
}
.y
{
	position:relative;
 	top:10%;    
  	height:65%;
  	width:450px;
  	margin-left:auto;
  	margin-right:auto;

}
.z
{
	height:30px;
	width:100%;;
	display: table-row;
	vertical-align: middle;
	height: 40px;
	padding: 5px 15px;
	margin: 5px 5px;
	font-size: 20px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	background-color: rgba(0, 0, 0, 0.4);
	color: rgb(44, 8, 102);
	border-radius: 2px;
}
.z:hover
{
	border: 1px solid rgb(10, 165, 173);
	background-color: rgba(0, 0, 0, 0.2);
}
.button
{
	background-color: rgba(0, 0, 255,0.7);
	border:none;
	font-size: 20px;
	margin: 5px 27%;
	padding: 5px 10px;
	height: 35px;
	width: 50%;
	vertical-align: middle;
	color: rgba(3, 0, 45,0.7);
	border-radius: 5px;
}
.button:hover
{
	border: 1px solid rgb(10, 165, 173);
	background-color: rgba(0, 0, 255, 0.2);
	cursor: pointer;
}
span
{
	color: rgba(255, 0, 0,0.6);
	margin: 5px 10px;
	font-size: 18px;
}
a
{
	color: rgba(0, 255, 140,0.6);
	text-decoration: none;
	font-size: 21px
}